@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-elem-dark: 209deg 23% 22%;
    --color-elem-light: 0deg 0% 100%;
    --color-bg-dark: 207deg 26% 17%;
    --color-bg-light: 0deg 0% 98%;
    --color-text-dark: 0deg 0% 100%;
    --color-text-light: 200deg 15% 8%;
    --color-input-light: 0deg 0% 52%;
  }

  @layer components {
    .focus-visible {
      @apply focus-visible:outline focus-visible:outline-default dark:focus-visible:outline-inverted focus-visible:outline-4 focus-visible:outline-offset-2;
    }
  }

  :is(h1, h2, h3, h4) {
    text-wrap: balance;
  }
}
